#main-card{
    max-width:60%;
}

.AP:hover{
    background-color:#990000;
}

.invalid{
    color:red;
}
#degree{
    width:100%
}
@media (max-width:840px){
    #main-card{
	max-width:90%;
    }
    th{
	font-size: smaller;
    }
    .invalid{
	font-size:xx-small;
	color:red;
    }
    #degree{
	width:85%;
    }
}


